<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfqYRJYbczvA9eTzahTaMUc0p9-LJsHos</string>
	<key>GCM_SENDER_ID</key>
	<string>913000693304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeclkpdk</string>
	<key>PROJECT_ID</key>
	<string>plixplay-brain-9850f</string>
	<key>STORAGE_BUCKET</key>
	<string>plixplay-brain-9850f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913000693304:ios:56dd770b2f65bc7dd0b0cd</string>
	<key>DATABASE_URL</key>
	<string>https://plixplay-brain-9850f-default-rtdb.firebaseio.com</string>
</dict>
</plist>